# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env

# Go
bin/
*.exe
*.out
*.test

# Logs
*.log

# VSCode & Editor junk
.vscode/
.DS_Store

# Docker build junk
*.tar
*.gz
*.zip

# System junk
Thumbs.db
